.cache/
.dccache
.DS_Store
.env
.firebase/
.idea
*.log
*.tree.json
**/*.heapsnapshot
build/
dist/
env.sh
logs/
node_modules/
server/*/prisma/*
server/prisma/*
!server/prisma/migrations
!server/prisma/schema.prisma
!server/prisma/seed.ts
server/generated
tmp/
.env
.dccache
**/*.heapsnapshot
server/target
env.sh
.idea
/web/lib/.graphqlconfig
/web/lib/graphql-introspection.json
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
